<!DOCTYPE html>
<html lang="en">
  <head>
    <% if settings.development? %><!-- I'm layout.erb -->
    <!-- Remove this after Haml replace ERB --><% end %>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="<%= Blog.meta_keywords %>" />
    <meta name="description" content="<%= Blog.meta_description %>" />
    <meta name="author" content="<%= Blog.meta_author %>" />
    <link href="/feed" rel="alternate" title="Primary Feed" type="application/atom+xml" />

    <title><%= Blog.title %></title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/customize.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%= haml :"partial/navbar" %>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
      <hr />
    </div>
    <%= haml :"partial/footer" %>
  </body>
  <!-- TODO: Update Google Analytics code -->
  <!-- FIXME: Find way to add this without performance impact -->
  <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', '<%= Blog.google_analytics_id %>']);
   _gaq.push(['_trackPageview']);
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
  </script>
</html>