<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= Blog.title %></title>
    <meta name="keywords" content="ruby, bdd, rails, merb, sinatra, rack, scanty, blog" />
    <meta name="description" content="The technological blog of Joaquin Rivera (aka joahking)" />
    <meta name="author" content="Joaquin Rivera (github.com/joahking)" />
    <link href="/flashy.css" rel="stylesheet" type="text/css" />
    <link href="/feed" rel="alternate" title="Primary Feed" type="application/atom+xml" />
  </head>
  <body>
    <!-- start header -->
    <div id="header">
      <div id="logo">
	<h1><a href="/"><%= Blog.title %></a></h1>
	<h2><%= Blog.header %></h2>
      </div>
      <div id="menu">
	<ul>
	  <%= write %>
	  <li><a href="http://github.com/joahking/scanty/tree">scanty</a></li>
	</ul>
      </div>
    </div>
    <!-- end header -->

    <!-- start page -->
    <div id="page">
      <!-- start content -->
      <div id="content">
	<%= yield %>
      </div>
      <!-- end content -->
      <!-- start sidebar -->
      <div id="sidebar">
	<ul>
	  <li id="about">
	    <h2><b class="text1">About</b></h2>
	    The blog of Joaquin Rivera
	    (aka <a href="http://github.com/joahking/" target="_new">joahking</a>)<br/>
	    we talk about Ruby, BDD, Linux <br/>
	    Rails, Merb, Sinatra, Rack and more
	  </li>
	  <li>
	    <h2><b class="text1">Articles</b></h2>
	    <ul>
	      <li><a href="/past">Archive</a></li>
              <li><a href="/feed">Subscribe to feed</a></li>
	    </ul>
	  </li>
	  <li>
	    <h2><b class="text1">Friends</b></h2>
	    <ul>
	      <%= friends %>
	    </ul>
	  </li>
	  <li>
	    <h2><b class="text1">Tags</b></h2>
	    <%= tags %>
	  </li>
	</ul>
      </div>
      <!-- end sidebar -->
      <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <div id="footer">
      <p id="legal">Powered by: <a href="http://github.com/joahking/scanty/tree">scanty</a> |
      design adapted from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
    <!-- end footer -->
  </body>
</html>
